<a href="https://colab.research.google.com/github/yash2046/2216101_AI-ML_BOOTCAMP/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1)Implement the methods of String with examples.

In [22]:
str='hello'
#indexing
print(str[-1])
print(str[3])
#slicing 
print(str[:])
#strip()
s1='  yashwanth  '
print(s1.strip())
print(s1.lstrip()) #left strip
print(s1.rstrip()) #right strip
s2='welcome'
print(s2.upper()) 
print(s2.lower())
print(s2.capitalize()) 
print(s2.swapcase())
print(s2.title())

o
l
hello
yashwanth
yashwanth
  yashwanth
WELCOME
welcome
Welcome
WELCOME
Welcome

Q2) Implement the methods of List with examples.

In [23]:
l=[5,2,8,7]
print(l)
print(len(l))
l.append('hii')
print(l)
l.extend([1,3,6])
print(l)
l.insert(4,9)
print(l)
l.pop(5)
print(l)
l.remove(7)
print(l)
l.reverse()
print(l)
l.sort()
print(l)
l.clear()
print(l)

[5, 2, 8, 7]
4
[5, 2, 8, 7, 'hii']
[5, 2, 8, 7, 'hii', 1, 3, 6]
[5, 2, 8, 7, 9, 'hii', 1, 3, 6]
[5, 2, 8, 7, 9, 1, 3, 6]
[5, 2, 8, 9, 1, 3, 6]
[6, 3, 1, 9, 8, 2, 5]
[1, 2, 3, 5, 6, 8, 9]
[]

Q3)Implement the methods of Tuple with examples

In [24]:
t=('yash','sandy','rome',46,65)
print(t)
print(len(t))
t1=(10,56,30,101,30,36)
#indexing
print(t1[0])
print(t1[-2])
#slicing 
print(t1[1:5])
print(max(t1))
print(min(t1))
print(t1.index(101))
print(t1.count(30))

('yash', 'sandy', 'rome', 46, 65)
5
10
30
(56, 30, 101, 30)
101
10
3
2

Q4) Implement the methods of Dictionary with examples.

In [25]:
dic={1:1,2:4,3:9,4:196,5:125,'name':'yash','roll':46,'address':'hnk'}
print(dic)
print(dic.items())
print(dic.keys())
print(dic.popitem())
print(dic.values())
print(dic.get('name'))

{1: 1, 2: 4, 3: 9, 4: 196, 5: 125, 'name': 'yash', 'roll': 46, 'address': 'hnk'}
dict_items([(1, 1), (2, 4), (3, 9), (4, 196), (5, 125), ('name', 'yash'), ('roll', 46), ('address', 'hnk')])
dict_keys([1, 2, 3, 4, 5, 'name', 'roll', 'address'])
('address', 'hnk')
dict_values([1, 4, 9, 196, 125, 'yash', 46])
yash

Q5) Implement the methods of Set with examples.

In [26]:
s={1,2,3,4}
s.add(6)
print(s)
s.update([6,7,8])
print(s)
s.remove(4)
print(s)
s.discard(6)
print(s)
s1={4,5,1,2,9,10}
#union
print(s|s1)
print(s.union(s1))
print(s1.union(s))
#intersection
print(s&s1)
print(s.intersection(s1))
print(s1.intersection(s))
#difference
print(s-s1)
print(s.difference(s1))

{1, 2, 3, 4, 6}
{1, 2, 3, 4, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 7, 8}
{1, 2, 3, 4, 5, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 7, 8, 9, 10}
{1, 2}
{1, 2}
{1, 2}
{8, 3, 7}
{8, 3, 7}

Q6)Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method.

In [27]:
num=int(input("Enter a number:"))
print(bin(num))
print(oct(num))
print(hex(num))

Enter a number:12
0b1100
0o14
0xc

Q7) Implement Arithmetic operators with examples

In [28]:
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
print(a+b)
print(abs(a-b))
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

Enter a number:50
Enter a number:41
91
9
2050
1.2195121951219512
9
4547473508864641189575195312500000000000000000000000000000000000000000
1

Q8) Implement Assignment operators with examples.

In [29]:
x=5
y=46
print(x)
x+=3
print(x)
x-=3
print(x)
x*=3
print(x)
x/=3
print(x)
x%=3
print(x)
y//=3
print(y)
y**=3
print(y)

5
8
5
15
5.0
2.0
15
3375

Q9) Implement Comparison operators with examples.

In [30]:
x1="yes"
y1="no"
print(x1==y1)
print(x1!=y1)
print(x1>y1)
print(x1<y1)
print(x1>=y1)
print(x1<=y1)

False
True
True
False
True
False

Q10) Implement Logical operators with examples.

In [31]:
a1=101
b1=50
print(a1==50 and b1==101)
print(a1==101 or b1==50)
print(not a1==b1)

False
True
True

Q11)Implement Bitwise operators with examples

In [32]:
c=1
d=2
print(c==23 & d==46)
print(c&d)
print(c==25|d==20)
print(c&d)
print(c^d)
print(~c)
print(c>>2)
print(d<<2)

False
0
False
0
3
-2
0
8

Q12)Implement Membership operators with examples.

In [33]:
st1="hello world"
print('h' in st1)
print('a' in st1)
print("llo" in st1)
print('h' not in st1)
print('a' not in st1)
print("llo" not in st1)

True
False
True
False
True
False

Q13)Implement Identity operators with examples

In [34]:
e=46
f='101'
print(e is f)
print(e is not f)

False
True

Q14)Demonstrate Negative indexing for List and apply slicing.

In [35]:
l1=[1,2,3,4,5,46,'hello']
# negative indexing
print(l1[-1])
print(l1[-7])
print(l1[-3])
#slicing
print(l1[1:])
print(l1[:])
print(l1[::-1])

hello
1
5
[2, 3, 4, 5, 46, 'hello']
[1, 2, 3, 4, 5, 46, 'hello']
['hello', 46, 5, 4, 3, 2, 1]

Q15)Predict the output for the given code snippet and justify the result.

In [36]:
print( 'A series of characters designated as one object known as a string'[::-1][4::3] )
#[::-1] it is for reversing and [4::3] it starts from 4 th index with step size as 3
print("------------")
print( 'welcome to Python traing program'[3:10][::-1])
#[3:10] it starts from 3 rd index and stops at 10 th index and the it will reverse the string

taawkcbe  tgestrcoeeA
------------
ot emoc

Q16)Write a python code to get desired output; Input string : p_phrase = "was it a car or a cat I saw"; Output string : WAS I TAC A RO RAC A TI SAW

In [37]:
p_phrase="was it a car or a cat I saw"
str22=p_phrase.upper()
print(str22[::-1])

WAS I TAC A RO RAC A TI SAW

Q17). You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. Input X= 2 Output ZZOOOO Input X= 5 Output ZZZZZOOOOOOOOOO

In [38]:
x=int(input("Enter a number="))
y=2*x
print('x=',x)
print('y=',y)
print('Z'*x,'O'*y,sep='')

Enter a number=2
x= 2
y= 4
ZZOOOO